# _PLAT_MT7622 is not set
# _PLAT_MT7629 is not set
_PLAT_MT7981=y
# _PLAT_MT7986 is not set
# _PLAT_MT7987 is not set
# _PLAT_MT7988 is not set
PLAT="mt7981"
_SUPPORTS_DDR4=y
# _DRAM_DDR3 is not set
_DRAM_DDR4=y
DRAM_USE_DDR4=1
_SUPPORTS_DRAM_SIZE_LIMIT=y
_SUPPORTS_DDR3_256MB=y
_SUPPORTS_DDR3_512MB=y
_SUPPORTS_DDR4_512MB=y
_SUPPORTS_DDR4_1GB=y
_SUPPORTS_DDR3_FREQ=y
_SUPPORTS_DDR3_1866=y
_SUPPORTS_DDR3_2133=y
_DEFAULT_DDR3_2133=y
_SUPPORTS_DRAM_DEBUG_LOG=y

#
# Advanced DRAM configurations
#
_DRAM_SIZE_AUTO=y
# _DRAM_SIZE_512MB is not set
# _DRAM_SIZE_1GB is not set
_MT7981_BOARD_BGA=y
BOARD_BGA=1
# _DRAM_DEBUG_LOG is not set
# end of Advanced DRAM configurations

_SUPPORTS_BOOT_DEVICE_SNFI_NAND=y
_SUPPORTS_BOOT_DEVICE_SPIM_NAND=y
_SUPPORTS_BOOT_DEVICE_EMMC_SD=y
_DEFAULT_BOOT_DEVICE_SPIM_NAND=y
# _BOOT_DEVICE_SPI_NOR is not set
# _BOOT_DEVICE_SNFI_NAND is not set
# _BOOT_DEVICE_SPIM_NAND is not set
# _BOOT_DEVICE_EMMC is not set
# _BOOT_DEVICE_SD is not set
_BOOT_DEVICE_RAM=y

#
# Advanced boot device configuration
#
_BROM_NAND_HEADER_HSM=y
# _RAM_BOOT_DEBUGGER_HOOK is not set
_RAM_BOOT_RAM_BOOT_UART_DL=y
RAM_BOOT_UART_DL=1
_DEFAULT_NAND_NMBM=y
# end of Advanced boot device configuration

BOOT_DEVICE="ram"

#
# Platform configurations
#
_SUPPORTS_EMERG_MEM_DUMP=y
# _ENABLE_EMERG_MEM_DUMP is not set
# _ENABLE_JTAG is not set
# _ENABLE_BL31_RUNTIME_LOG is not set
# end of Platform configurations

# _BUILD_FIP is not set
_SUPPORTS_DUAL_FIP=y

#
# Advanced build configurations
#
# _ENABLE_BL2_COMPRESS is not set
# _USE_MKIMAGE is not set
# end of Advanced build configurations

_SUPPORTS_AR_V2=y
# _ENABLE_SBC is not set
CROSS_COMPILE="/usr/bin/aarch64-linux-gnu-"
# _LOG_LEVEL_NONE is not set
# _LOG_LEVEL_ERROR is not set
# _LOG_LEVEL_NOTICE is not set
_LOG_LEVEL_WARNING=y
# _LOG_LEVEL_INFO is not set
# _LOG_LEVEL_VERBOSE is not set
LOG_LEVEL=30
